@font-face {
    font-family: 'Myriad Pro Light SemiExtended';
    src:url("../fonts/Myriad_Pro_Light_SemiExtended.otf");
}

@font-face {
    font-family: "AvenirLTStd-Medium";
    src:url("../fonts/AvenirLTStd-Medium.otf");
}

#body-content {
    background-color: #242A2E;
}

.top-text{
    font-size: 1.3vw;
    font-family: "AvenirLTStd-Medium";
    margin-top: 2vw;
    float: left;
    padding-left: 0.3vw;
    color: #BFBFBF;
    border-bottom: solid .5px #f3fb04;
    padding-bottom: 0.2vw;
}

.top{
    margin-left: 20.3vw;
    margin-top: 3vw;
    text-align: center;
   
}

#t1 {
    margin-right: 4%; 
    padding-right: 9%;
}

#t2 {
    padding-right: 10%;
}

#t3 {
    padding-left: 6%;
}

#t4 {
    margin-left: 4.6%;
    padding-left: 6%;
}

#mid-logo {
    float: left;
}

.logo
{
    height:7vw;
}

.def {
    text-align: center;
    font-family: "AvenirLTStd-Medium";
    display: inline-block;
    font-size:1.48vw; 
    margin-left: 36.5vw;
    letter-spacing: 0.188em;
    margin-top:1%;
    color:#BFBFBF;
    margin-bottom: 50px;
}

#college {
    color: white;
    display: block;
    padding-top: 5px;
}

.featurette-heading {
    color: white !important;
}

.tab-content {
    font-family: "AvenirLTStd-Medium";
}

[id^="wheelnav-indexDiv"] {
    height: 50px;
    width: 50px;
}

.text-muted {
    line-height: 25px;
}

#wheeldef {
    padding-top: 15px;
}

.active-main, .top-text:hover, .top-text:focus{
    color: #f3fb04 !important;
}

.service-head {
    color: white;
    font-size:1.4vw; 
}

.list-head {
    font-size:1.2vw; 
    color: white;
}

.list-def {
    font-size:1vw; 
    color:#BFBFBF;
}

.marketing {
    font-family: "AvenirLTStd-Medium";
}

.logo-def {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.contact-left {
    padding-top: 10%;
    font-size: 1.4vw;
    padding-left: 10% !important;
}

.contact-right {
    text-align: center;
    padding-top: 5% !important;
}

.speaker-row {
    margin-left: 10%;
    margin-right: 10%;
    /* padding-left: 8%;  
    padding-right: 8%;  
    align-items: center;
    text-align: center;
    width: 100%; */
}

.circle-holder {
    margin: 0 auto !important;
}

.speaker-text {
    font-size: 20px;
    font-family: "AvenirLTStd-Medium";
}

.speaker-company {
    color: white;
}

.speaker-about {
    color: white !important;
}

.speaker-name {
    padding-top:5%;
}

.circle{
    border-radius:50%;
    border:4px solid #FFFFFF;
    width:170px;
    height:170px;
}